.container-fluid
  .row-fluid
    %h1
      ="What is Fairfax ReLeaf?"
  .row-fluid
    .span2
    .span8
      %p.about-para
        ="Fairfax ReLeaf, Inc. is an independent, non-profit organization of volunteers who plant and preserve trees, improve community appearance and restore habitat on public and commons lands in Northern Virginia. Fairfax ReLeaf serves as a practical laboratory for assessing techniques to lessen the impact of development on the environment in one of the most rapidly changing forest/urban interface areas in the country. "
      %p.about-para
        ="Our goals are to restore large numbers of native trees on public and commons land where funding for landscaping is lacking and nothing would otherwise be planted and to educate government and the public about the values and benefits of the urban forest. "
      %p.about-para
        ="We operate through enlisting volunteer workers and support from interested civic groups, youth, Scouts, local businesses, churches and schools."
    .span2
  .row-fluid
    %h3.center
      ="What do we do?"
  .row-fluid
    .span2
    .span8
      %p.about-para
        ="Identify and plan tree planting projects around Fairfax County and provide the resources to accomplish those projects. Encourage urban forestry conservation practices by individuals, private organizations and state and local government. Provide information and support for natural regeneration, mini-woodlands, and mow-free zones as alternatives to planned tree planting."
      %p.about-para
        ="Provide information and assistance for selecting appropriate tree species for specific locations, where to obtain trees, proper tree planting techniques, and caring for newly planted and established trees. Promote public education on all aspects of urban forestry by providing knowledgeable speakers for meetings of civic groups and other community functions, and providing information to government for the establishment of sound public policy. "
    .span2
  .row-fluid
    %h1
      ="Mission Goals"
    .span3
      ="Mission 1"
    .span3
      ="Mission 2"
    .span3
      ="Mission 3"
    .span3
      ="Mission 4"
  .row-fluid
    %h1
      ="Organizational History of Fairfax ReLeaf"
    .span2
    .span8
      %p.about-para
        ="Owing to urban sprawl, Fairfax County had lost more than one-third of its tree cover by 1991. Citizens saw large chunks of public landscape disappear within a five year period. A focused community response was needed that could overcome both the County's bureaucratic limitations and a shortage of funds for trees. This required a response that could not only spur cooperation among private and public groups but also find practical remedies for what citizens saw happening to local woodlands. "
      %p.about-para
        ="Fairfax ReLeaf began in 1991 as a local activity as an outgrowth of the Global ReLeaf project of the American forests. These activities were started by Cindy Zimar of the Virginia Department of Forestry. Fairfax ReLeaf first met as a steering committee under Phyllis Verhalen, then Chairman of Fairfax County's Tree Commission."
      %p.about-para
        ="First tree plantings began during November/December, 1991. ReLeaf became the first non-profit group to obtain permits from Virginia's Department of Transportation (VDOT) for tree planting by volunteers on an interstate highway (at I-66 and Route 7, Falls Church, and I-66 and Route 110 off- ramp, Rosslyn). "
      %p.about-para
        ="In 1992 Fairfax ReLeaf formally incorporated under Virginia law thanks to attorney Robert Herbolshimer. IRS 501(c)(3) status was also acquired in 1992.The first Fairfax ReLeaf President was James Frazier. Co-founders were Cindy Zimar and Edward Mainland. Robert Grille became Treasurer and Rod Young became Secretary. In 1994, Mr. Mainland became President and Mike Knapp, Vice President.Fairfax ReLeaf's current Board of Directors includes local foresters, civic activists, county tree officials, artists, IT professionals."
    .span2