.container-fluid
  %h1
  .row-fluid
    .span1
    .span6
      = image_tag('Drawing1.png', :class=> 'big-logo')
      %center
        #subtitle
    .span5
      .fleaf-description
        %p.fleaf-description
          ="In the last two decades, over thirty-five percent of Northern Virginia's urban forest has been bulldozed and chainsawed, according to aerial photos from the Forest Service. Our aim is to conserve, restore and promote sustainable urban forests in Northern Virginia by restoring large numbers of native trees on public commons land where funding for landscaping is lacking and nothing would otherwise be planted, and to educate government and the public about the values and benefits of the urban forest."
        %p.fleaf-description
          ="We operate through enlisting volunteer workers and support from interested civic groups, youth, scouts, local businesses, churches and schools."