.container-fluid
  .row
    .span2
    .span6
      %h3
        ="Meet the Fairfax ReLeaf Board!"
      .media
        %a.pull-left{:href=>'#'}
          =image_tag('ghost.jpg',:class=>'media-object')
        .media-body
          %h4{:class=>'media-heading'}
            = "Board Member"
          ="Short bio about Board member."
      .media
        %a.pull-left{:href=>'#'}
          =image_tag('ghost.jpg',:class=>'media-object')
        .media-body
          %h4{:class=>'media-heading'}
            = "Board Member"
          ="Short bio about Board member."
    .span4
