.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h4 Please fill the form below:
      %p
        = form_for @message do |f|
          =f.label :name
          =f.text_field :name
          %br
          =f.label :email
          =f.text_field :email
          %br
          =f.label :content
          =f.text_field :content
          =f.submit