.container
  .row
  .row
    %span7
      %h2
        ="Donation Form"
      %p
      %p
    %span1
    %span4
      %h2
        ="Community Volunteer Partnerships"
      %p.about-para
        ='Fairfax ReLeaf offers a variety of opportunities for your group to volunteer and/or donate resources to our programs! We coordinate volunteer workdays for corporate and community groups. These workdays are an opportunity for groups to engage in a team-building activity while planting tree seedlings in Fairfax County.'
      %p.about-para
        ='Fairfax ReLeaf staff members provide instruction and lead groups in approximately 2-4 hours of tree planting and/or care throughout Fairfax County. Fairfax ReLeaf can work with your group to schedule a work day in the spring or fall.'
      %p.about-para
        ='We also partner with groups that may not have the time to volunteer, but are willing to donate resources to our volunteer events. Examples of resource donations include, but are not limited to: volunteer refreshments, tools, supplies, or a monetary donation on behalf of your group.'
      %p.about-para
        ='Please contact Taylor Beach at trees@fairfaxreleaf.org or by phone at 703-324-1409 for more information on scheduling your event.'
