= stylesheet_link_tag 'newmy-calendar'
= javascript_include_tag 'fullcalendar.js'
= javascript_include_tag 'index.js'
.container-fluid
  = render "layouts/modal"
  .row-fluid
    .span12
      %h1.gray
        ="Upcoming Events!"
  .row-fluid
    .span12
      #calendar
      #map_canvas{style: ' display: none; width: 600; height: 600;'}