#calendar.fc.fc-ltr{style: "top: 50px; left: 122.296875px; position: fixed;"}
  %table.fc-header{style: "width:100%"}
    %tbody
      %tr
        %td.fc-header-left
          %span.fc-header-title
            %h2 January 2014
        %td.fc-header-center
        %td.fc-header-right
          %span.fc-button.fc-button-today.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled{unselectable: "on"} today
          %span.fc-header-space
          %span.fc-button.fc-button-prev.fc-state-default.fc-corner-left{unselectable: "on"}
            %span.fc-text-arrow ‹
          %span.fc-button.fc-button-next.fc-state-default.fc-corner-right{unselectable: "on"}
            %span.fc-text-arrow ›
  .fc-content{style: "position: relative;"}
    .fc-view.fc-view-month.fc-grid{style: "position:relative", unselectable: "on"}
      .fc-event-container{style: "position:absolute;z-index:8;top:0;left:0"}
        %a.fc-event.fc-event-hori.fc-event-draggable.fc-event-start.fc-event-end{href: "/events/1", style: "position: absolute; left: 101px; background-color: yellow; border-color: yellow; color: black; width: 98px; top: 213px;"}
          .fc-event-inner
            %span.fc-event-time 8:55p
            %span.fc-event-title Test Event
          .ui-resizable-handle.ui-resizable-e    
      %table.fc-border-separate{cellspacing: "0", style: "width: 700px;"}
        %thead
          %tr.fc-first.fc-last
            %th.fc-day-header.fc-sun.fc-widget-header.fc-first{style: "width: 104px;"} Sun
            %th.fc-day-header.fc-mon.fc-widget-header{style: "width: 104px;"} Mon
            %th.fc-day-header.fc-tue.fc-widget-header{style: "width: 104px;"} Tue
            %th.fc-day-header.fc-wed.fc-widget-header{style: "width: 104px;"} Wed
            %th.fc-day-header.fc-thu.fc-widget-header{style: "width: 104px;"} Thu
            %th.fc-day-header.fc-fri.fc-widget-header{style: "width: 104px;"} Fri
            %th.fc-day-header.fc-sat.fc-widget-header.fc-last Sat
        %tbody
          %tr.fc-week.fc-first
            %td.fc-day.fc-sun.fc-widget-content.fc-other-month.fc-past.fc-first{"data-date" => "2013-12-29", style: "min-width: 100px;"}
              %div{style: "min-height: 88px;"}
                .fc-day-number 29
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-mon.fc-widget-content.fc-other-month.fc-past{"data-date" => "2013-12-30", style: "min-width: 100px;"}
              %div
                .fc-day-number 30
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-tue.fc-widget-content.fc-other-month.fc-past{"data-date" => "2013-12-31", style: "min-width: 100px;"}
              %div
                .fc-day-number 31
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-wed.fc-widget-content.fc-past{"data-date" => "2014-01-01", style: "min-width: 100px;"}
              %div
                .fc-day-number 1
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-thu.fc-widget-content.fc-past{"data-date" => "2014-01-02", style: "min-width: 100px;"}
              %div
                .fc-day-number 2
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-fri.fc-widget-content.fc-past{"data-date" => "2014-01-03", style: "min-width: 100px;"}
              %div
                .fc-day-number 3
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-sat.fc-widget-content.fc-past.fc-last{"data-date" => "2014-01-04", style: "min-width: 100px;"}
              %div
                .fc-day-number 4
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
          %tr.fc-week
            %td.fc-day.fc-sun.fc-widget-content.fc-past.fc-first{"data-date" => "2014-01-05", style: "min-width: 100px;"}
              %div{style: "min-height: 87px;"}
                .fc-day-number 5
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-mon.fc-widget-content.fc-past{"data-date" => "2014-01-06", style: "min-width: 100px;"}
              %div
                .fc-day-number 6
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-tue.fc-widget-content.fc-past{"data-date" => "2014-01-07", style: "min-width: 100px;"}
              %div
                .fc-day-number 7
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-wed.fc-widget-content.fc-past{"data-date" => "2014-01-08", style: "min-width: 100px;"}
              %div
                .fc-day-number 8
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-thu.fc-widget-content.fc-past{"data-date" => "2014-01-09", style: "min-width: 100px;"}
              %div
                .fc-day-number 9
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-fri.fc-widget-content.fc-past{"data-date" => "2014-01-10", style: "min-width: 100px;"}
              %div
                .fc-day-number 10
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-sat.fc-widget-content.fc-past.fc-last{"data-date" => "2014-01-11", style: "min-width: 100px;"}
              %div
                .fc-day-number 11
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
          %tr.fc-week
            %td.fc-day.fc-sun.fc-widget-content.fc-past.fc-first{"data-date" => "2014-01-12", style: "min-width: 100px;"}
              %div{style: "min-height: 87px;"}
                .fc-day-number 12
                .fc-day-content
                  %div{style: "position: relative; height: 20px;"}  
            %td.fc-day.fc-mon.fc-widget-content.fc-past{"data-date" => "2014-01-13", style: "min-width: 100px;"}
              %div
                .fc-day-number 13
                .fc-day-content
                  %div{style: "position: relative; height: 20px;"}  
            %td.fc-day.fc-tue.fc-widget-content.fc-past{"data-date" => "2014-01-14", style: "min-width: 100px;"}
              %div
                .fc-day-number 14
                .fc-day-content
                  %div{style: "position: relative; height: 20px;"}  
            %td.fc-day.fc-wed.fc-widget-content.fc-today.fc-state-highlight{"data-date" => "2014-01-15", style: "min-width: 100px;"}
              %div
                .fc-day-number 15
                .fc-day-content
                  %div{style: "position: relative; height: 20px;"}  
            %td.fc-day.fc-thu.fc-widget-content.fc-future{"data-date" => "2014-01-16", style: "min-width: 100px;"}
              %div
                .fc-day-number 16
                .fc-day-content
                  %div{style: "position: relative; height: 20px;"}  
            %td.fc-day.fc-fri.fc-widget-content.fc-future{"data-date" => "2014-01-17", style: "min-width: 100px;"}
              %div
                .fc-day-number 17
                .fc-day-content
                  %div{style: "position: relative; height: 20px;"}  
            %td.fc-day.fc-sat.fc-widget-content.fc-future.fc-last{"data-date" => "2014-01-18", style: "min-width: 100px;"}
              %div
                .fc-day-number 18
                .fc-day-content
                  %div{style: "position: relative; height: 20px;"}  
          %tr.fc-week
            %td.fc-day.fc-sun.fc-widget-content.fc-future.fc-first{"data-date" => "2014-01-19", style: "min-width: 100px;"}
              %div{style: "min-height: 87px;"}
                .fc-day-number 19
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-mon.fc-widget-content.fc-future{"data-date" => "2014-01-20", style: "min-width: 100px;"}
              %div
                .fc-day-number 20
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-tue.fc-widget-content.fc-future{"data-date" => "2014-01-21", style: "min-width: 100px;"}
              %div
                .fc-day-number 21
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-wed.fc-widget-content.fc-future{"data-date" => "2014-01-22", style: "min-width: 100px;"}
              %div
                .fc-day-number 22
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-thu.fc-widget-content.fc-future{"data-date" => "2014-01-23", style: "min-width: 100px;"}
              %div
                .fc-day-number 23
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-fri.fc-widget-content.fc-future{"data-date" => "2014-01-24", style: "min-width: 100px;"}
              %div
                .fc-day-number 24
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-sat.fc-widget-content.fc-future.fc-last{"data-date" => "2014-01-25", style: "min-width: 100px;"}
              %div
                .fc-day-number 25
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
          %tr.fc-week
            %td.fc-day.fc-sun.fc-widget-content.fc-future.fc-first{"data-date" => "2014-01-26", style: "min-width: 100px;"}
              %div{style: "min-height: 87px;"}
                .fc-day-number 26
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-mon.fc-widget-content.fc-future{"data-date" => "2014-01-27", style: "min-width: 100px;"}
              %div
                .fc-day-number 27
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-tue.fc-widget-content.fc-future{"data-date" => "2014-01-28", style: "min-width: 100px;"}
              %div
                .fc-day-number 28
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-wed.fc-widget-content.fc-future{"data-date" => "2014-01-29", style: "min-width: 100px;"}
              %div
                .fc-day-number 29
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-thu.fc-widget-content.fc-future{"data-date" => "2014-01-30", style: "min-width: 100px;"}
              %div
                .fc-day-number 30
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-fri.fc-widget-content.fc-future{"data-date" => "2014-01-31", style: "min-width: 100px;"}
              %div
                .fc-day-number 31
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-sat.fc-widget-content.fc-other-month.fc-future.fc-last{"data-date" => "2014-02-01", style: "min-width: 100px;"}
              %div
                .fc-day-number 1
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
          %tr.fc-week.fc-last
            %td.fc-day.fc-sun.fc-widget-content.fc-other-month.fc-future.fc-first{"data-date" => "2014-02-02", style: "min-width: 100px;"}
              %div{style: "min-height: 92px;"}
                .fc-day-number 2
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-mon.fc-widget-content.fc-other-month.fc-future{"data-date" => "2014-02-03", style: "min-width: 100px;"}
              %div
                .fc-day-number 3
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-tue.fc-widget-content.fc-other-month.fc-future{"data-date" => "2014-02-04", style: "min-width: 100px;"}
              %div
                .fc-day-number 4
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-wed.fc-widget-content.fc-other-month.fc-future{"data-date" => "2014-02-05", style: "min-width: 100px;"}
              %div
                .fc-day-number 5
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-thu.fc-widget-content.fc-other-month.fc-future{"data-date" => "2014-02-06", style: "min-width: 100px;"}
              %div
                .fc-day-number 6
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-fri.fc-widget-content.fc-other-month.fc-future{"data-date" => "2014-02-07", style: "min-width: 100px;"}
              %div
                .fc-day-number 7
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  
            %td.fc-day.fc-sat.fc-widget-content.fc-other-month.fc-future.fc-last{"data-date" => "2014-02-08", style: "min-width: 100px;"}
              %div
                .fc-day-number 8
                .fc-day-content
                  %div{style: "position: relative; height: 0px;"}  