.fc-event-container > * {
  z-index: 8;
}

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
  z-index: 9;
}

.fc-event {
  border: 1px solid rgba(0, 0, 0, 0.5);; /* default BORDER color */
  background-color: #3a87ad; /* default BACKGROUND color */
  color: #fff;               /* default TEXT color */
  font-size: .85em;
  cursor: default;
}

a.fc-event {
  text-decoration: none;
}

a.fc-event,
.fc-event-draggable {
  cursor: pointer;
}

.fc-rtl .fc-event {
  text-align: right;
}

.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fc-event-time,
.fc-event-title {
  padding: 0 1px;
}